/* reset 

 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*  
	font: inherit;
	*/
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*

	end of reset

*/
.userForm {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 2px;
}
textarea,
input {
  outline: none;
}
.mainTxt {
  display: block;
  resize: none;
  height: 120px;
  color: #1e1e1e;
  line-height: 20px;
  padding: 7px;
  border: 1px solid #cccccc;
}
.mainTxt:focus {
  border: 1px solid #00cc66;
  z-index: 1;
}
.inputs {
  width: 100%;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}
.inputBox {
  position: relative;
}
.inputBox input {
  height: 45px;
  padding-left: 36px;
  border: 1px solid #cccccc;
}
.inputBox input:focus {
  border: 1px solid #00cc66;
  z-index: 1;
}
.inputBox img {
  height: 24px;
  position: absolute;
  top: 9px;
  left: 6px;
  z-index: 10;
  opacity: 0.1;
}
.name {
  margin-bottom: 21px;
  top: -1px;
}
.email {
  top: -1px;
  margin-bottom: 17px;
}
.agree {
  font-size: 12px;
  margin-bottom: 17px;
}
.agree input {
  width: 20px;
  height: 20px;
  top: 3px;
  left: 0;
  position: absolute;
  visibility: hidden;
}
.agree label {
  padding-left: 28px;
  display: inline-block;
  position: relative;
  line-height: normal;
}
.agree a {
  margin: 0 3px;
}
.linkUnderline {
  text-decoration: none;
  position: relative;
  color: #3fa6e2;
}
.linkUnderline:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: 0;
  left: 50%;
  background-color: #3fa6e2;
  transition: all 0.3s ease-in-out;
}
.linkUnderline:hover:before {
  width: 100%;
  left: 0%;
}
.checkboxImg {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 3px;
  left: 0;
  cursor: pointer;
}
.sendMsg button {
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #339999;
  box-shadow: 0px 2px 3px -3px #000000;
  background-color: #73c947;
  color: #ffffff;
  height: 45px;
  width: 100%;
  cursor: pointer;
}
.sendMsg button:hover {
  background-color: #69c139;
}
.sendMsg p {
  padding: 7px 0 2px 11px;
  font-size: 12px;
}
.sendMsg span {
  text-decoration: underline;
}
.inputError {
  background-color: #ffdbdb;
}
.boxReq {
  box-shadow: 0px 3px 1px -1px #ffdbdb;
}
.errorInfo {
  position: absolute;
  top: 29px;
  right: 0;
  font-size: 10px;
  padding: 2px;
}
.success {
  background-color: #ffffff;
  margin-bottom: 18px;
  height: 360px;
  padding: 29px 33px 0;
  text-align: center;
}
.success img {
  height: 80px;
  width: 80px;
  margin-bottom: 34px;
}
.success h2 {
  color: #69c139;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 21px;
}
.success p {
  font-size: 14px;
  color: #383838;
  line-height: 20px;
}
.success a {
  color: #3fa6e2;
  text-decoration: none;
}
.success span {
  text-decoration: underline;
}
/* Anim */
.formBox {
  max-height: 430px;
  min-height: 360px;
  overflow: hidden;
}
.userForm {
  transition: 0.2s linear all;
  max-height: 999px;
  opacity: 1;
  transition-delay: 0.5s;
}
.userForm button span {
  transition: 0.5s linear all;
  text-decoration: none;
}
.userForm.ng-hide {
  max-height: 0;
  opacity: 0;
}
.userForm.ng-hide button span {
  opacity: 0;
}
.userForm.ng-hide-add,
.userForm.ng-hide-remove {
  display: block!important;
}
.success {
  transition: 0.4s linear all;
  transition-delay: 0.5s;
  max-height: 999px;
  opacity: 1;
}
.success.ng-hide {
  max-height: 0;
  opacity: 0;
}
.success.ng-hide-remove,
.success.ng-hide-remove-active {
  display: block!important;
}
@font-face {
  font-family: 'EncodeSans-Light';
  src: url('../font/EncodeSans-Light.ttf');
}
* {
  box-sizing: border-box;
  font-family: 'EncodeSans-Light', 'sans-serif';
}
html {
  min-height: 100%;
}
body {
  background: linear-gradient(135deg, #1a2980 0%, #26d0ce 100%);
  background-repeat: no-repeat;
  padding-bottom: 100px;
  color: #191818;
}
h1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}
.wrap {
  margin: 0 auto;
  width: 300px;
  position: relative;
}
.box {
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.contact {
  margin: 54px 0 2px;
  background: linear-gradient(135deg, #1a2980 0%, #26d0ce 100%);
  color: #ffffff;
}
.dataInfo {
  background-color: #ffffff;
  font-size: 10px;
  padding: 10px 23px;
}
.dataInfo span {
  float: right;
  color: #3fa6e2;
}
.hideInfo {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 191px;
}
.showInfo {
  white-space: normal;
  width: 100%;
  text-align: justify;
}
.phone {
  background-color: #ffffff;
  position: relative;
  margin: 20px 0 2px;
  text-align: left;
  padding-left: 90px;
}
.phone h1 {
  font-weight: 600;
}
.phone img {
  position: absolute;
  z-index: 10;
  opacity: 0.15;
  height: 38px;
  top: 11px;
  left: 38px;
}
.phoneNr {
  background-color: #ffffff;
  padding: 7px;
  line-height: normal;
}
.phoneNr button {
  width: 100%;
  height: 100%;
  background-color: #f5f6fa;
  border: 1px solid #edeff5;
  box-shadow: 0px 2px 3px -3px #000000;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
}
.phoneNr button:hover {
  background-color: #edeff5;
}
.phoneNr h1 {
  font-weight: 600;
  padding-top: 11px;
}
.clearfix {
  clear: both;
}
