<!DOCTYPE html>
<html ng-app="iHouseApp">
  <head>
    <title>iHouse</title>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="style/style.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="scripts/app.js"></script>
  </head>
  <body ng-controller="contactCtrl">
    <div class="wrap">
      <div class="box contact">
        <h1>
          Skontaktuj się z agentem 
        </h1>
      </div>
      <section>
        <form novalidate="">
          <textarea class="inputs mainTxt">Dzień dobry, Jestem zainteresowany współpracą z Panem. &#13;&#10;Proszę o kontakt.</textarea>
          <div class="inputBox">
            <img src="images/name.png" /><input class="inputs name" placeholder="Twoje imię" type="text" />
          </div>
          <div class="inputBox">
            <img src="images/phone.png" /><input class="inputs" placeholder="Twój numer telefonu" type="text" />
          </div>
          <div class="inputBox">
            <img src="images/at.png" /><input class="inputs email" placeholder="Twój adres e-mail" type="email" />
          </div>
          <div class="agree">
            <label><input type="checkbox" />
              <div class="checkboxImg"></div>
              Wyrażam zgodę na przetwarzanie moich danych osobowych zgodnie z <a href="regulamin" target="_blank">regulaminem</a>.  </label>
          </div>
          <div class="sendMsg">
            <button tpe="submit">Wyślij wiadomość		</button>
            <p>
              *Agent deklaruje, że odpowie w ciągu <span>2 godzin</span>.
            </p>
          </div>
        </form>
      </section>
      <article class="dataInfo">
        <p class="hideInfo" ng-class="hide ? &#39;hideInfo&#39; : &#39;showInfo&#39;">
          Administratorem danych osobowych jest Lorem ipsum dolor sit amet, offendit forensibus qui at, in autem invidunt tincidunt cum. Usu eu sumo numquam noluisse. Cu eos discere aliquam debitis, et sea quando consul salutatus, id usu tota percipit probatus. Vis atomorum platonem ut, amet malorum perfecto has ut, saepe commodo qui et. Civibus placerat vix ad. 
        </p>
        <span ng-click="hideInfo()" ng-cloak="">[{{ hideOption }}]</span>
        <div class="clearfix"></div>
      </article>
      <div class="box phone">
        <h1>
          Numer telefonu
        </h1>
        <img src="images/phone2.png" />
      </div>
      <div class="box phoneNr">
        <button ng-click="hideNr = !hideNr" ng-show="hideNr">Zobacz numer telefonu</button>
        <h1 ng-cloak="" ng-hide="hideNr">
          +48 600 540 600		
        </h1>
      </div>
    </div>
  </body>
</html>
