@gradA: #1a2980;
@gradB: #26d0ce;

@base: #fff;
@contrast: #191818;
@border: #ccc;
@link: #3fa6e2;

@mainTxt: #1e1e1e;

@msgButton: #73c947;
@msgBorder: #339999;
@msgHover: #69c139;

@phoneBorder: #edeff5;
@phoneButton: #f5f6fa;