@import "reset.less";
@import "colors.less";

@font-face {
	font-family: 'EncodeSans-Light';
	src: url('../font/EncodeSans-Light.ttf');
}

* {
	box-sizing: border-box;
	font-family: 'EncodeSans-Light', 'sans-serif';
}
body {
	background: linear-gradient(135deg, @gradA 0%, @gradB 100%);
	background-repeat: no-repeat;
	padding-bottom: 100px;
	color: @contrast;
}
h1 {
	font-size: 18px;
    font-style: normal;
   	font-weight: 300;
}
.wrap {
	margin: 0 auto;
	width: 300px;
}
.box {
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.contact {	
	margin: 54px 0 2px;
	background: linear-gradient(135deg, @gradA 0%, @gradB 100%);
	color: @base;
}
section {
	background-color: @base;
	padding: 10px;
	margin-bottom: 2px;
}
.mainTxt {
	resize: none;
	height: 120px;
	color: @mainTxt;
	line-height: 20px;
	padding: 7px;
	border: 1px solid @border;
	border-bottom: 0px;
}
.inputs {
	width: 100%;
	font-size: 14px;
	position: relative;
	cursor: pointer;	
}
.inputBox {
	position: relative;
	input {
		height: 45px;
		padding-left: 36px;
		border: 1px solid @border;	
	}
	img {
		height: 24px;
		position: absolute;
		top: 9px;
		left: 6px;
		z-index: 1;
		opacity: 0.1;
	}
}
.name {	
	margin-bottom: 21px;
}
.email {
	top: -1px;
	margin-bottom: 17px;
}
.agree {
	font-size: 12px;
	margin-bottom: 17px;
	input {
		width: 20px;
		height: 20px;
		top: 3px;
		left: 0;
		position: absolute;
		visibility: hidden;
	}
	label {
		padding-left: 28px;
		display: inline-block;
		position: relative;
		line-height: normal;
	}
	a {
		text-decoration: none;
		position: relative;
		padding: 0 3px;
		color: @link;
		&:before {
			content: "";
			position: absolute;
			width: 0%;
			height: 1px;
			bottom: 0;
			left: 50%;
			background-color: @link;			
			transition: all 0.3s ease-in-out;
		}
		&:hover {
			&:before {
				width: 95%;
				left: 3%;
			}
		}	
	}
}
.checkboxImg {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 3px;
	left: 0;
	cursor: pointer;
	background-image: url('../images/checkbox.png');
}
.sendMsg {	
	button {
		border-radius: 5px;
		font-size: 14px;
		font-weight: 400;
		border: none;
		border-bottom: 1px solid @msgBorder;
		box-shadow: 0px 2px 3px -3px rgba(0,0,0,1);
		background-color: @msgButton;
		color: @base;
		height: 45px;		
		width: 100%;
		cursor: pointer;
		&:hover {
			background-color: @msgHover;
		}
	}
	p {
		padding: 7px 0 2px 11px; 
		font-size: 12px;
	}
	span {
		text-decoration: underline;
	}
}
.dataInfo {
	background-color: @base;
	font-size: 10px;
	padding: 10px 23px;
	margin-bottom: 20px;
	p {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
		width: 191px;
	}
	span {
		float: right;
		color: @link;
	}
}
.phone {
	background-color: @base;
	position: relative;
	margin-bottom: 2px;
	text-align: left;
	padding-left: 90px;
	h1 {
    	font-weight: 600;
	}
	img {
		position: absolute;
		z-index: 1;
		opacity: 0.15;
		height: 38px;
		top: 11px;
		left: 38px;
	}
}
.phoneNr {
	background-color: @base;
	padding: 7px 9px;
	line-height: normal;
	button {	
		width: 100%;
		background-color: @phoneButton;
		border: 1px solid @phoneBorder;
		box-shadow: 0px 2px 3px -3px rgba(0,0,0,1);
		padding: 0;
		height: 100%;
		font-size: 14px;
   	    font-weight: 400;
		border-radius: 5px;
		cursor: pointer;
		&:hover {
			background-color: @phoneBorder;
		}
	}
}

