@import "reset.less";

@gradA: #1a2980;
@gradB: #26d0ce;

@font-face {
	font-family: 'EncodeSans-Light';
	src: url('../font/EncodeSans-Light.ttf');
}

* {
	box-sizing: border-box;
	font-family: 'EncodeSans-Light', 'sans-serif';	
}
body {
	background: linear-gradient(135deg, @gradA 0%, @gradB 100%);
}
.wrap {
	margin: 0 auto;
	width: 300px;
}
header {
	height: 60px;
	margin: 54px 0 2px;
	background: linear-gradient(135deg, @gradA 0%, @gradB 100%);
	color: #fff;
	line-height: 60px;
	text-align: center;
	font-size: 18px;
}
section {
	background-color: #fff;
	padding: 10px;
}
textarea {
	resize: none;
	min-height: 120px;
	color: #1e1e1e;
	line-height: 20px;
	padding: 8px 7px; 
}
.inputs {
	border: 1px solid #cccccc;
	width: 100%;
	font-size: 14px;
	position: relative;
	cursor: pointer;
}
.inputBox {
	position: relative;
	input {
		height: 45px;
		padding-left: 36px;	
	}
	img {
		height: 24px;
		position: absolute;
		top: 9px;
		left: 6px;
		z-index: 1;
		opacity: 0.4;
	}
}
.name {	
	top: -2px;
	margin-bottom: 21px;
}
.email {
	top: -1px;
	margin-bottom: 21px;
}
.agree {
	font-size: 12px;
	input {
		width: 20px;
		height: 20px;
		top: 0;
		left: 0;
		position: absolute;
		&:checked {
			
		}
	}
	label {
		padding-left: 28px;
		display: inline-block;
		position: relative;
	}
}
.checkboxImg {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	background-image: url('../images/checkbox.png');
}
