doctype html
html
	head
		title iHouse
		meta charset='UTF-8'
		meta name="viewport" content="width=device-width, initial-scale=1"
		link href='style/style.css' type='text/css' rel='stylesheet'
		script src='scripts/script.js'

	body
		.wrap
			header Skontaktuj się z agentem

			section
				textarea.inputs placeholder='Dzień dobry, Jestem zainteresowany współpracą z Panem. Proszę o kontakt.'
				 
				.imgBox
					img src='images/name.png'
					input.inputs.name type='text' placeholder='Twoje imię'
				
		