<section>
  <form name="userForm" novalidate="">
    <textarea class="inputs mainTxt" ng-model="user.message"></textarea>
    <div class="inputBox">
      <img src="images/name.png" /><input class="inputs name" name="userName" ng-class="{inputError : userForm.userName.$touched &amp;&amp; userForm.userName.$invalid}" ng-minlength="3" ng-model="user.name" placeholder="Twoje imię" required="" type="text" />
      <div ng-messages="userForm.userName.$error" ng-show="userForm.userName.$touched">
        <p class="errorInfo" ng-message="minlength">
          Proszę podać imię
        </p>
        <p class="errorInfo" ng-message="required">
          Proszę podać imię
        </p>
      </div>
    </div>
    <div class="inputBox">
      <img src="images/phone.png" /><input class="inputs" ng-model="user.phone" placeholder="Twój numer telefonu" type="text" />
    </div>
    <div class="inputBox">
      <img src="images/at.png" /><input class="inputs email" ng-model="user.mail" placeholder="Twój adres e-mail" type="email" />
    </div>
    <div class="agree">
      <label><input ng-model="user.agree" type="checkbox" /><img class="checkboxImg" ng-src="{{user.agree ? &#39;images/checked.png&#39; : &#39;images/checkbox.png&#39;}}" />Wyrażam zgodę na przetwarzanie moich danych osobowych zgodnie z <a href="regulamin" target="_blank">regulaminem</a>.  </label>
    </div>
    <div class="sendMsg">
      <button tpe="submit">Wyślij wiadomość		</button>
      <p>
        *Agent deklaruje, że odpowie w ciągu <span>2 godzin</span>.
      </p>
    </div>
  </form>
</section>
