<form name="userForm" ng-submit="submitted = true; userForm.$valid &amp;&amp; submit()" novalidate="">
  <textarea class="inputs mainTxt" ng-model="user.message"></textarea>
  <div class="inputBox">
    <img src="images/name.png" /><input class="inputs name" name="userName" ng-class="{inputError : (userForm.userName.$touched || submitted) &amp;&amp; userForm.userName.$invalid}" ng-model="user.name" ng-pattern="/^[a-zA-z][^0-9]{1,}$/" placeholder="Twoje imię" required="" type="text" />
    <div ng-messages="userForm.userName.$error" ng-show="userForm.userName.$touched">
      <p class="errorInfo" ng-message="required, pattern">
        Proszę podać imię
      </p>
    </div>
  </div>
  <div class="inputBox">
    <img src="images/phone.png" /><input class="inputs" name="userPhone" ng-class="{inputError : (userForm.userPhone.$touched || submitted) &amp;&amp; userForm.userPhone.$invalid}" ng-model="user.phone" ng-pattern="/^[0-9-() ]{9,15}$/" placeholder="Twój numer telefonu" required="" type="text" />
    <div ng-messages="userForm.userPhone.$error" ng-show="userForm.userPhone.$touched">
      <p class="errorInfo" ng-message="pattern">
        Proszę wpisać poprawny numer
      </p>
      <p class="errorInfo" ng-message="required">
        Proszę podać numer telefonu
      </p>
    </div>
  </div>
  <div class="inputBox">
    <img src="images/at.png" /><input class="inputs email" name="userMail" ng-class="{inputError : (userForm.userMail.$touched || submitted) &amp;&amp; userForm.userMail.$invalid}" ng-model="user.mail" placeholder="Twój adres e-mail" required="" type="email" />
    <div ng-messages="userForm.userMail.$error" ng-show="userForm.userMail.$touched">
      <p class="errorInfo" ng-message="required">
        Proszę podać adres e-mail
      </p>
      <p class="errorInfo" ng-message="email">
        Proszę podać poprawny adres e-mail
      </p>
    </div>
  </div>
  <div class="agree">
    <label ng-class="{boxReq : submitted &amp;&amp; userForm.userAgree.$invalid}"><input name="userAgree" ng-model="user.agree" required="" type="checkbox" /><img class="checkboxImg" ng-src="{{user.agree ? &#39;images/checked.png&#39; : &#39;images/checkbox.png&#39;}}" />Wyrażam zgodę na przetwarzanie moich danych osobowych zgodnie z <a href="regulamin" target="_blank">regulaminem</a>.  </label>
  </div>
  <div class="sendMsg">
    <button type="submit">Wyślij wiadomość		</button>
    <p>
      *Agent deklaruje, że odpowie w ciągu <span>2 godzin</span>.
    </p>
  </div>
</form>
